<template>
    <section class="main-content">
        <div class="columns is-mobile is-multiline is-centered">
            <div class="column is-hidden-mobile">
                <h1 class="title is-size-2">
                    <strong>RateCounter,</strong> be awesome.
                </h1>
                <p class="is-size-5 has-text-weight-normal">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam animi, earum error et excepturi explicabo fuga id ipsa nostrum obcaecati odio officiis placeat, provident qui quis rem, similique temporibus ut?
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam animi, earum error et excepturi explicabo fuga id ipsa nostrum obcaecati odio officiis placeat, provident qui quis rem, similique temporibus ut?
                </p>
            </div>
            <div class="column">
                <h2 class="is-size-3">
                    You can try make an upload.
                    <span class="is-size-2">Really Free</span>
                </h2>

                <b-field label="Title:">
                    <b-input v-model="uploadedData.name"
                             placeholder="Please add title."
                             :class="errors.name ? 'is-danger' : ''"
                    ></b-input>
                </b-field>
                <!--Error message-->
                <div v-if="errors.name" class="errors">
                    <span class="errors">{{ errors.name ? errors.name : '' }}</span>
                </div>

                <b-field label="Description:">
                    <b-input minlength="2"
                             maxlength="100"
                             placeholder="Please add description."
                             type="textarea"
                             v-model="uploadedData.description"
                    >
                    </b-input>
                </b-field>

                <b-field class="file">
                    <b-upload v-model="uploadedData.file"
                              accept="image/x-png,image/gif,image/jpeg,image/png">
                        <a class="button is-primary">
                            <b-icon icon="upload"></b-icon>
                            <span>Click to upload</span>
                        </a>
                    </b-upload>
                    <span class="file-name" v-if="uploadedData.file">
                        {{ uploadedData.file.name }}
                    </span>
                </b-field>
                <!--Error message-->
                <div v-if="errors.file" class="errors">
                    <span>{{ errors.file ? errors.file : "" }}</span>
                </div>

                <b-field class="has-text-right">
                    <a class="button is-rounded submit-btn is-size-4"
                       :class="check ? 'is-loading' : ''"
                       @click="submit">
                        Submit
                    </a>
                </b-field>
            </div>
        </div>
    </section>
</template>

<script>
    import {mapState, mapMutations, mapActions, mapGetters} from 'vuex';
    import firebase from 'firebase';
    import { db } from '@/main';

    export default {
        name: 'index',
        props: [
          'openLoader'
        ],
        data() {
            return {
                check: false,
                errors: [],
                uploadedFile: {},
                uploadedData: {
                  name: '',
                  description: '',
                  file: null,
                }
            }
        },
        firestore: {

        },
        methods: {
            ...mapActions('rates', ['addNewImage']),

            checkForm() {
                if (this.uploadedData.name && this.uploadedData.file) {
                    return true;
                }

                this.errors = [];

                if (!this.uploadedData.name) {
                    this.errors["name"] = "Title field required.";
                }
                if (!this.uploadedData.file) {
                    this.errors["file"] = "Please add file.";
                }
                return false;
            },
            submit() {
                if(this.checkForm()) {
                    this.errors = [];
                    this.storageUpload();
                }else{
                    this.$notify({
                        type: 'error',
                        title: 'Notification.',
                        text: 'Please fill required fields!'
                    });
                }
            },
            storageUpload() {
              const file = this.uploadedData.file;
              const ref = firebase.storage().ref();
              const metadata = {
                contentType: file.type
              };
              const task = ref.child(`images/${file.name}`).put(file, metadata);

              // Listen for state changes, errors, and completion of the upload.
              task.on(firebase.storage.TaskEvent.STATE_CHANGED, // or 'state_changed'
                (snapshot) => {
                  // Get task progress, including the number of bytes uploaded and the total number of bytes to be uploaded
                  var progress = (snapshot.bytesTransferred / snapshot.totalBytes) * 100;
                  this.$emit('openLoader', true);
                  console.log('Upload is ' + progress + '% done');
                  switch (snapshot.state) {
                    case firebase.storage.TaskState.PAUSED: // or 'paused'
                      console.log('Upload is paused');
                      break;
                    case firebase.storage.TaskState.RUNNING: // or 'running'
                      console.log('Upload is running');
                      break;
                  }
                }, (error) => {

                // A full list of error codes is available at
                // https://firebase.google.com/docs/storage/web/handle-errors
                switch (error.code) {
                  case 'storage/unauthorized':
                    // User doesn't have permission to access the object
                    break;

                  case 'storage/canceled':
                    // User canceled the upload
                    break;

                  case 'storage/unknown':
                    // Unknown error occurred, inspect error.serverResponse
                    break;
                }
              }, () => {
                // Upload completed successfully, now we can get the download URL
                task.snapshot.ref.getDownloadURL().then((downloadURL) => {
                    // Get fullPath
                    const storageRef = firebase.storage().ref();
                    let spaceRef = storageRef.child(`images/${this.uploadedData.file.name}`);
                    let path = spaceRef.fullPath;

                    storageRef.child(`images/${this.uploadedData.file.name}`).getDownloadURL().then((url) => {
                        console.log('test', url);
                        let id = Math.random().toString(36).substr(2, 9);
                        let title = this.uploadedData.name;
                        let description = this.uploadedData.description;
                        let image = url;
                        let like = 0;
                        let dislike = 0;

                        db.collection('images').add({ id, title, description, image, like, dislike });

                        this.$emit('openLoader', false);
                        this.$notify({
                            type: 'success',
                            title: 'Notification.',
                            text: 'Successfully added, congrate!!!'
                        });
                        this.uploadedData.file = null;
                        this.uploadedData.name = '';
                        this.uploadedData.description = '';
                        console.log('File available at', downloadURL);
                    }).catch((error) => {
                        console.log('error', error)
                    });
                });
              });
            }
        }
    }
</script>

<style lang="scss" scoped>
    .main-content{
        height: calc(100vh - 4.25rem);
        .columns{
            height: 100%;
            align-items: center;
            margin: 0;
            .column{
                h2{
                    span{
                        display: block;
                        color: #0070bc;
                        margin-bottom: 15px;
                    }
                }
                .title{
                    font-weight: normal;
                    strong{
                        color: #0070bc;
                        font-weight: bold;
                    }
                }
                .submit-btn{
                    font-family: 'Permanent Marker', cursive!important;
                    font-weight: bold;
                    background-color: #0070bc;
                    color: #ffffff;
                    border: 2px solid #0070bc;
                }
                .errors{
                    margin-top: -15px;
                    span{
                        font-size: 12px;
                        color: #ff0000;
                    }
                }
            }
        }
    }
</style>
