<template>
  <div id="top" class="container">
    <top-content :likedImages="liked" :dislikedImages="disliked"/>
  </div>
</template>

<script>
import TopContent from '@/components/public/top';
import { db } from '@/main';

export default {
  name: 'top',
  components: {
      TopContent
  },
  data(){
      return {
          liked: [],
          disliked: []
      }
  },
  created() {
      this.selectLiked();
      this.selectDisliked();
  },
  methods: {
      selectLiked() {
          const ref = db.collection('images');
          ref.orderBy('like', 'desc').get().then(upcomingRef => {
              upcomingRef.forEach((doc) => {
                  const upcoming = doc.data();
                  this.liked.push(upcoming)
              });
          });
      },
      selectDisliked() {
          const ref = db.collection('images');
          ref.orderBy('dislike', 'desc').get().then(upcomingRef => {
              upcomingRef.forEach((doc) => {
                  const upcoming = doc.data();
                  this.disliked.push(upcoming)
              });
          });
      }
  }
};
</script>

<style lang="scss">

</style>
