<template>
    <nav class="navbar is-transparent is-fixed-top container" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <router-link class="navbar-item" tag="a" to="/">
                <img src="@/assets/logo.png">
            </router-link>

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-end">
                <router-link class="navbar-item" tag="a" to="/">
                    Home
                </router-link>
                <router-link class="navbar-item" tag="a" to="/rates">
                    Rates
                </router-link>
                <router-link class="navbar-item" tag="a" to="/top">
                    Final Top
                </router-link>
            </div>
        </div>
    </nav>
</template>

<script>
    export default {
        name: 'Navbar'
    }
</script>

<style lang="scss" scoped>
    .navbar{
        .navbar-item img{
            max-height: none;
        }
        a.navbar-item, .navbar-link{
            font-weight: bold;
            &:hover, .is-active{
                background-color: transparent;
                color: #0070bc;
            }
        }
    }
</style>
