<template>
    <div>
        <div class="box" v-for="data in datas">
            <article class="media">
                <div class="media-left">
                    <figure class="image is-96x96">
                        <img :src="data.image" alt="Image">
                    </figure>
                </div>
                <div class="media-content">
                    <div class="content">
                        <h1><strong>{{ data.title }}</strong></h1>
                        <p class="is-size-5">
                           {{ data.description }}
                        </p>
                    </div>
                    <nav class="level is-mobile">
                        <div class="level-left" v-if="!data.scored">
                            <button type="button" @click="rateImage('like', data.id, data.like)" class="button is-blue">
                                <b-icon pack="fas" icon="thumbs-up"></b-icon>
                                <span>Like</span>
                            </button>

                            <button type="button" @click="rateImage('dislike', data.id, data.dislike)" class="button is-dark">
                                <b-icon pack="fas" icon="thumbs-down"></b-icon>
                                <span>Dislike</span>
                            </button>

                            <button type="button" @click="rateImage('noVoice', data.id, data.like)" class="button is-warning">
                                <b-icon pack="fas" icon="american-sign-language-interpreting"></b-icon>
                                <span>Oops!!!</span>
                            </button>
                        </div>
                        <div class="level-left" v-else>
                            <h1 class="is-size-5">Thanks for your score!!!</h1>
                        </div>
                    </nav>
                </div>
            </article>
        </div>
    </div>
</template>

<script>
    import { db } from '@/main';

    export default {
        name: 'index.vue',
        props: [
            'datas','scored'
        ],
        created() {
        },
        methods: {
            rateImage(score, id, voice) {
                let field = '';
                if(score === 'like'){
                    voice++;
                    field = score;
                }else if(score === 'dislike') {
                    voice++;
                    field = score;
                }

                if(score !== 'noVoice') {
                    const docRef = db.collection("images").doc(id);
                    docRef.update({
                        [field]: voice
                    }).then(() => {
                        this.$emit('scored', id);
                        this.$notify({
                            type: 'success',
                            title: 'Notification.',
                            text: 'Thanks!!!'
                        });
                    }).catch((error) => {
                        console.log('error', error);
                        this.$notify({
                            type: 'error',
                            title: 'Notification.',
                            text: 'Something went wrong!!!'
                        });
                    });
                }else{
                    this.$emit('scored', id);
                }
            }
        }
    }
</script>

<style scoped lang="scss">
    .box{
        margin-bottom: 25px;
        .button{
            font-weight: bold;
            font-size: 14px;
            margin-right: 5px;
        }
        .button.is-blue{
            background-color: #0070bc;
            color: #ffffff;
        }
    }
</style>
