<template>
  <div id="home" class="container">
    <home-content @openLoader="toggleshow"/>
    <loading :active.sync="isLoading"
        :can-cancel="false"
        :is-full-page="fullPage">
    </loading>
  </div>
</template>

<script>
// @ is an alias to /src
import HomeContent from '@/components/public/home';
import Loading from 'vue-loading-overlay';

export default {
  name: 'home',
  data() {
    return {
      isLoading: false,
      fullPage: true
    };
  },
  components: {
      HomeContent,
      Loading
  },
  methods: {
    toggleshow(data) {
      console.log('toggleshow', data)
      this.isLoading = data;
    }
  }
};
</script>

<style lang="scss">
  #home{

  }
</style>
