<template>
    <div id="rate" class="container">
        <rate-content
                :datas="imagesInfo"
                @scored="scoreChange"
                :key="componentKey"
        />
    </div>
</template>

<script>
    import RateContent from '@/components/public/rate';
    import { db } from '@/main';

    export default {
        name: 'Rates',
        components: {
            RateContent
        },
        data() {
            return {
                imagesInfo: [],
                componentKey: 0
            }
        },

        created() {
            const ref = db.collection('images');
            ref.get().then(upcomingRef => {
                upcomingRef.forEach((doc) => {
                    const upcoming = doc.data();
                    upcoming['id'] = doc.id;
                    upcoming['scored'] = false;
                    this.imagesInfo.push(upcoming);
                });
            });
        },
        methods: {
            scoreChange(id) {
                this.imagesInfo.forEach(item => {
                    if (item.id == id) {
                        item['scored'] = true;
                        this.componentKey += 1;
                    }
                });
            }
        }
    }
</script>

<style scoped>
    #rate{
        margin-top: 30px;
    }
</style>
