<template>
  <div id="app">
    <navbar/>
    <router-view/>
    <notifications position="top right"/>
  </div>
</template>

<script>
    import Navbar from '@/components/public/common/Navbar';

    export default {
        name: 'app',
        components: {
            Navbar,
        },
    }
</script>

<style lang="scss">
    h1,h2,h3,h4,h5,h6{
        font-family: 'Permanent Marker', cursive!important;
    }

    p{
        font-family: 'Hind Madurai', sans-serif!important;
    }

    .button.is-primary{
        background-color: #0070bc!important;
    }

    .input:focus,
    .taginput .taginput-container.is-focusable:focus,
    .input.is-focused,
    .taginput .is-focused.taginput-container.is-focusable,
    .input:active,
    .taginput .taginput-container.is-focusable:active,
    .input.is-active,
    .taginput .is-active.taginput-container.is-focusable,
    .textarea:focus, .textarea.is-focused,
    .textarea:active, .textarea.is-active{
        border-color: #0070bc!important;
        -webkit-box-shadow: 0 0 0 0.125em rgba(0, 112, 188, 0.31)!important;
        -moz-box-shadow: 0 0 0 0.125em rgba(0, 112, 188, 0.31)!important;
        box-shadow: 0 0 0 0.125em rgba(0, 112, 188, 0.31)!important;
    }

    .textarea{
        resize: none!important;
    }

    .has-navbar-fixed-top{
        padding-top: 4.25rem;
    }

    .vue-notification {
      padding: 10px;
      margin: 0 5px 5px;

      font-size: 16px;

      color: #ffffff;
      background: #44A4FC;
      border-left: 5px solid #187FE7;

      &.warn {
        background: #ffb648;
        border-left-color: #f48a06;
      }

      &.error {
        background: #E54D42;
        border-left-color: #B82E24;
      }

      &.success {
        background: #68CD86;
        border-left-color: #42A85F;
      }
    }
</style>
