<template>
    <div class="main-container">
        <div class="columns">
            <div class="column is-mobile is-multiline is-centered">
                <h1 class="is-size-1">Most Liked images</h1>

                <b-table
                        :data="likedImages"
                        ref="table"
                        paginated
                        per-page="5"
                        :opened-detailed="defaultOpenedDetails"
                        detailed
                        detail-key="id"
                        @details-open="(row, index) => $toast.open(`Expanded ${row.title}`)"
                        :show-detail-icon="showDetailIcon"
                >

                    <template slot-scope="props">
                        <b-table-column field="name" label="Title" sortable>
                            <template v-if="showDetailIcon">
                                {{ props.row.title }}
                            </template>
                            <template v-else>
                                <a @click="toggle(props.row)">
                                    {{  props.row.title }}
                                </a>
                            </template>
                        </b-table-column>

                        <b-table-column field="description" label="Description" sortable>
                            {{ props.row.description }}
                        </b-table-column>

                        <b-table-column label="Likes">
                            {{ props.row.like }}
                        </b-table-column>
                    </template>

                    <template slot="detail" slot-scope="props">
                        <article class="media">
                            <figure class="media-left">
                                <p class="image is-64x64">
                                    <img :src="props.row.image">
                                </p>
                            </figure>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <strong>{{ props.row.title }}</strong>
                                        <br>
                                        {{ props.row.description }}
                                    </p>
                                </div>
                            </div>
                        </article>
                    </template>
                </b-table>
            </div>
            <div class="column">
                <h1 class="is-size-1">Most DisLiked images</h1>

                <b-table
                        :data="dislikedImages"
                        ref="table"
                        paginated
                        per-page="5"
                        :opened-detailed="defaultOpenedDetails"
                        detailed
                        detail-key="id"
                        @details-open="(row, index) => $toast.open(`Expanded ${row.title}`)"
                        :show-detail-icon="showDetailIcon"
                >

                    <template slot-scope="props">
                        <b-table-column field="name" label="Title" sortable>
                            <template v-if="showDetailIcon">
                                {{ props.row.title }}
                            </template>
                            <template v-else>
                                <a @click="toggle(props.row)">
                                    {{  props.row.title }}
                                </a>
                            </template>
                        </b-table-column>

                        <b-table-column field="description" label="Description" sortable>
                            {{ props.row.description }}
                        </b-table-column>

                        <b-table-column label="Dislikes">
                            {{ props.row.dislike }}
                        </b-table-column>
                    </template>

                    <template slot="detail" slot-scope="props">
                        <article class="media">
                            <figure class="media-left">
                                <p class="image is-64x64">
                                    <img :src="props.row.image">
                                </p>
                            </figure>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <strong>{{ props.row.title }}</strong>
                                        <br>
                                        {{ props.row.description }}
                                    </p>
                                </div>
                            </div>
                        </article>
                    </template>
                </b-table>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'index',
        props: [
            'likedImages', 'dislikedImages'
        ],
        data() {
            return {
                defaultOpenedDetails: [1],
                showDetailIcon: true
            }
        },
        created() {
        }
    }
</script>

<style scoped lang="scss">
    .main-container {
        height: calc(100vh - 4.25rem);
        .columns {
            height: 100%;
            align-items: center;
            margin: 0;
        }
    }
</style>